<h1>Editing message</h1>

<%= bootstrap_form_for(@message, url: message_path(@message)) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- <div class="field"> -->
    <%# f.label :from_user_id %><br>
    <%# f.text_field :from_user_id, hide_label:true %>
  <!-- </div> -->
  <div class="field">
    <%= f.label :to_user_id %><br>
    <%= f.text_field :to_user_id, hide_label:true %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, hide_label:true %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, hide_label:true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Show', message_path(@message) %> |
<%= link_to 'Back', messages_path %>
