<div class="row">
<div style="float:right;margin-top:20px;">
  <%= link_to "Write a message", new_message_path, class: "btn btn-default" %>
</div>
</div>
<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>From</th>
        <th>Title</th>
        <th>Sent At</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @messages.each do |message| %>
      <% from = User.find(message.from_user_id) %>
      <tr>
        <td><%= link_to from.email, student_path(from.student) %></td>
        <td><%= link_to message.title, message_path(message) %></td>
        <td><%= message.created_at.to_formatted_s :short %></td>
        <td><%= link_to "x", remove_message_path(message), class: "close" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

