<div class="col-md-6">
<%= bootstrap_form_for(@message, url: "/messages") do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <label>To</label>
    <%= f.text_field :to_user_id, hide_label:true %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, hide_label:true %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, hide_label:true, :style => "min-height:225px" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>&nbsp;&nbsp;&nbsp;<%= link_to 'Cancel', messages_path, class: "btn btn-default" %>
  </div>
<% end %>
</div>
<div class="col-md-6">
<%= image_tag "wall.png", :class => "wide-image", :style => "width:80%;padding-top:15px" %>

</div>
