<p id="notice"><%= notice %></p>
<div class="row">
	<table class="table" style="border: 1px solid #ccc">
		<tbody>
			<tr>
				<td style="width: 10%">  From</td>
				<td><%= @message.from_user_id %></td>
			</tr>
			<tr>
				<td style="width: 10%">
					To
				</td>
				<td>
					<%= @message.to_user_id %>
				</td>
			</tr>
			<tr>
				<td style="width: 10%">
					Title
				</td>
				<td>
					<%= @message.title %>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<%= @message.body %>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<%= link_to 'Back', messages_path , :class => "btn btn-default"%>