%h1 Listing institutes

%table.table
  %tr
    %th Name
    %th Address
    %th
    %th
    %th

  - @institutes.each do |institute|
    %tr
      %td= institute.name
      %td= institute.address
      %td= link_to 'Show', institute
      %td= link_to 'Edit', edit_institute_path(institute)
      %td= link_to 'Destroy', institute, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Institute', new_institute_path, class: "btn btn-default"
