<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4 edit-student-form">
		<%= bootstrap_form_for(@student) do |f| %>
		<%= f.phone_field :phone %>
		<%= f.text_area :introduction %>
		<div class="form-group">
			<label class="control-label" for="student_style">Style</label> &nbsp;
				<select id="student_style" multiple="multiple">
				</select>
		</div>
		<input type="text" name="student[styles]" class="selected-style" style="display:none">

		<div>
			<div><%= f.label "Address" %></div>
			<div class="input-group" style="margin-bottom:10px">
				<input type="text" class="geolocation form-control" name="geolocation"/>
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">Search</button>
				</span>
			</div>
		</div>

		<div id="geomap" style="height: 300px;margin-bottom:10px;background-color: #666"></div>
		<div class="details-list">
			<div class="field"><div class="form-group geo-info geo-info-lat"><b>Lat</b><input class="form-control" name="lat" type="text"></input></div></div>
			<div class="field"><div class="form-group geo-info geo-info-lng"><b>Lng</b><input class="form-control" name="lng" type="text"></input></div></div>
			<div class="field"><div class="form-group geo-info geo-info-street"><b>Route</b><input class="form-control" name="route" type="text"></input></div></div>
			<div class="field"><div class="form-group geo-info geo-info-street-number"><b>Street Number</b><input class="form-control" name="street_number" type="text"></input></div></div>
			<div class="field"><div class="form-group geo-info geo-info-zip"><b>Postal Code</b> <input class="form-control" name="postal_code" type="text"></input></div></div>
			<div class="field"><div class="form-group geo-info geo-info-city"><b>Locality</b> <input class="form-control" name="locality" type="text"></input></div></div>
			<div class="field"><div class="form-group geo-info geo-info-country"><b>Country Code</b> <input class="form-control" name="country" type="text"></input></div></div>
			<div class="field"><div class="form-group geo-info geo-info-state"><b>State</b> <input class="form-control" name="administrative_area_level_1" type="text"></input></div></div>
		</div>

		<%= f.submit "Update" %>&nbsp;&nbsp;&nbsp;<%= link_to "Cancel", :root, class: "btn btn-default" %>
		<% end %>
	</div>
	<div class="col-md-4"></div>

	<!-- data area -->
	<div class="styles" style="display:none">
		<%= @styles.to_json %>
	</div>
	<div class="old-styles" style="display:none">
		<%= @old_styles.to_json %>
	</div>
	<div class="old-geolocation" style="display:none"><%= @student_geolocation.address %></div>
	<div class="old-geolocation-details" style="display:none"><%= @student_geolocation.to_json %></div>


<script type="text/javascript">

//have to use this immediate provoked function pattern to avoid a strange bug that multiselect does not work.
+function() {
		var styles = $.parseJSON($(".styles").html());
		var select = $("#student_style");
		for (var i = 0; i < styles.length; i++) {
			select.append("<option value ='" + styles[i].id +"'>" + styles[i].name + "</option>");
		};
		$('#student_style').multiselect();
		var selectedStyles="";
		setInterval(function() {
			var newStyles = $("button.multiselect").prop("title");
			if ( newStyles !== selectedStyles) {
				$(document).trigger("selectChange", [newStyles]);
			}
		}, 100);

		$(document).on("selectChange", function(event, newStyles) {
			$(".selected-style").val(newStyles);
		});

		$(".geolocation").val($(".old-geolocation").html()).focus();
		$(".geolocation").geocomplete({
			map: "#geomap",
			details: ".details-list"
		});

		var geolocationInfo = $.parseJSON($(".old-geolocation-details").html());
		$("input[name='lng']").val(geolocationInfo.longitude);
		$("input[name='lat']").val(geolocationInfo.latitude);
		$("input[name='route']").val(geolocationInfo.street);
		$("input[name='street_number']").val(geolocationInfo.street_number);
		$("input[name='postal_code']").val(geolocationInfo.zip);
		$("input[name='locality']").val(geolocationInfo.city);
		$("input[name='country']").val(geolocationInfo.country);
		$("input[name='administrative_area_level_1']").val(geolocationInfo.state);

		var cb = function() {
			if ($(".old-styles").length === 0) return;
			var oldStyles = $.parseJSON($(".old-styles").html());
			for (var i = 0; i < oldStyles.length; i++) {
				var ms = $(".multiselect-container");
				var inputs = $(ms[ms.length-1]).find("input");
				for (var j = 0; j < inputs.length; j++) {
					var _input = $(inputs[j]);
					if (_input.parent().html().match(/\<input\s.+\>(.+)/)[1].trim() === (oldStyles[i] + ""))
						_input.click();
				};
			};
			var toggle = false;

			$("html").click(function(event) {
				var target = $(event.target);
				if (target.parents('.form-group .btn-group').length) {
					toggle = !toggle
					$("ul.multiselect-container").toggle(toggle);
					event.stopPropagation();
				}
				else {
					toggle = false
					$("ul.multiselect-container").toggle(toggle);
				}
			});

			$("button.multiselect").click(function(event) {
				toggle = !toggle
				$("ul.multiselect-container").toggle(toggle);
				event.stopPropagation();
			});
		}

		setTimeout(cb, 0);

	}()

</script>

