  <%= bootstrap_form_for(@instructor) do |f| %>
  <% if @instructor.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@instructor.errors.count, "error") %> prohibited this instructor from being saved:</h2>
    <ul>
      <% @instructor.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div>
    <div><%= f.label "Address" %></div>
    <div class="input-group" style="margin-bottom:10px">
      <input type="text" class="geolocation form-control" name="geolocation"/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
    </div>
  </div>
  <div id="geomap" style="height: 600px;margin-bottom:10px;background-color: #666"></div>
  <div class="details-list">
    <div class="field"><div class="form-group"><b>Location</b> <input class="form-control" name="location" type="text"></input></div></div>
    <div class="field"><div class="form-group"><b>Lat</b> <input class="form-control" name="lat" type="text"></input></div></div>
    <div class="field"><div class="form-group"><b>Lng</b> <input class="form-control" name="lng" type="text"></input></div></div>
    <div class="field"><div class="form-group"><b>Route</b> <input class="form-control" name="route" type="text"></input></div></div>
    <div class="field"><div class="form-group"><b>Street Number</b> <input class="form-control" name="street_number" type="text"></input></div></div>
    <div class="field"><div class="form-group"><b>Postal Code</b> <input class="form-control" name="postal_code" type="text"></input></div></div>
    <div class="field"><div class="form-group"><b>Locality</b> <input class="form-control" name="locality" type="text"></input></div></div>
    <div class="field"><div class="form-group"><b>Country Code</b> <input class="form-control" name="country" type="text"></input></div></div>
    <div class="field"><div class="form-group"><b>State</b> <input class="form-control" name="administrative_area_level_1" type="text"></input></div></div>
  </div>
  <div class="field">
    <%= f.text_field :certificates %>
  </div>
  <div class="field">
    <%= f.date_select :teach_since %>
  </div>
  <div class="field">
    <%= f.text_field :styles %>
  </div>
  <div class="actions">
    <%= f.submit %> <%= link_to "Cancel", :back, class: "btn btn-default" %>
  </div>
  <% end %>

