<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @instructor.user_id %>
</p>

<p>
  <strong>Certificates:</strong>
  <ul>
  	<% @instructor.certificates.each do |c| %>
  		<li><%= c.title %></li>
  	<% end %>
  </ul>
</p>

<p>
  <strong>Teach since:</strong>
  <%= @instructor.teach_since %>
</p>

<p>
  <strong>Style:</strong>
  <ul>
  	<% @instructor.styles.each do |s|%>
  		<%= s.name %>
  	<% end %>
  </ul>

</p>

<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
