<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="nav top-nav row">
			<div class="logo col-md-1" ><%= image_tag "logo.svg", :style => "width: 50px" %></div>
			<div class="browse col-md-1 col-xs-12" >
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
					Browse
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Favorite</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Popular</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Nearby</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Friends</a></li>
					</ul>
				</div>
			</div>
			<div class="searchbox col-md-3 col-xs-12" >
				<form class="form-search form-inline">
					<input type="text" class="form-control search-query" placeholder="Search" />
				</form>
			</div>
			<div class="col-md-1" style="z-index:-999">&nbsp;</div>
			<div class="account-menu col-md-4 col-xs-12" >
				<ul class="nav navbar-nav">
					<% if user_signed_in? %>
					<li>
						<div class="dropdown pull-down-button">
							<a class="pull-down" href="#" ><span><%=  current_user.email %></span>
							<span>
								<i class="fa fa-caret-down"></i>
							</span>
							</a>
						</div>
						<div class="pull-down-menu">
							<ul>
								<li><%= link_to "Edit your profile", edit_student_path(Student.find_by_user_id(current_user.id)) %></li>
								<li><%= link_to "Account", edit_user_registration_path(current_user.id) %></li>
								<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
							</ul>
						</div>
					</li>
					<li><a href="/inbox"><i class="fa fa-envelope fa-lg"></i></a></li>
					<li><a href="#">Help</a></li>
					<% else %>
					<li><%= link_to "Sign up", new_user_registration_path %></li>
					<li><%= link_to "Login", new_user_session_path %></li>
					<li><a href="#">Help</a></li>
					<% end %>
				</ul>
			</div>
			<div class="teacher-access col-md-2 col-xs-12">
				<%= link_to "I am a teacher", new_instructor_path, class: "btn btn-default" %>
			</div>
			<div class="row">
				<div class="col-md-12 col-xs-12">&nbsp;</div>
			</div>
		</div>
		</div><!-- /.container-fluid -->
	</nav>
	<main class="welcome-body" role="main">
	<div class="container">
		<div class="row">
			<div class="welcome-title col-md-12">
				Your Private Yoga Coach Everyday
			</div>
			<div class="welcome-subtitle col-md-12">
				Find a teacher close by, forget gyms, clubs and studios
			</div>
			<div class="icon-image-wrapper">
				<%= image_tag "zen.jpeg", :class => "icon-image" %>
			</div>
		</div>
		<div class="row welcome-date-time">
			<div class="col-md-2"></div>
			<div class="datepicker-wrap col-md-3">
				<div>Pick your date</div>
				<div>
					<form class="form-search form-inline">
						<input type="text" class="datepicker form-control search-query" />
					</form>
				</div>
			</div>
			<div class="timepicker-wrap col-md-3">
				<div>From</div>
				<div>
					<form class="form-search form-inline">
						<input type="text" class="timepicker form-control search-query" />
					</form>
				</div>
			</div>
			<div class="timepicker-wrap col-md-3">
				<div>To</div>
				<div>
					<form class="form-search form-inline">
						<input type="text" class="timepicker form-control search-query" />
					</form>
				</div>
			</div>
		</div>
		<div class="row welcome-components">
			<div class="col-md-2">&nbsp;</div>
			<div class="col-md-3" style="padding-bottom:10px">
				<div>
					<input type="text" class="search-location form-control" placeholder="Search location" ></input>
				</div>
				<div id="geomap"></div>
			</div>
			<div class="col-md-3 style-wrapper">
				<select class="selectpicker" data-live-search="true" data-width="100%" multiple title="Style">
					<option>Iyengar</option>
					<option>Ashtanga Vinyasah</option>
					<option>Hatha</option>
					<option>Raja</option>
					<option>Bikram</option>
				</select>
			</div>
			<div class="col-md-3 level-wrapper">
				<select class="selectpicker" data-live-search="true" data-width="100%" multiple title="Level">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 details-list" style="text-align:center;margin-top:10px;margin-bottom:10px">
				<form action="/search">
					<input style="display:none" type="text" name="date" id="date-value" />
					<input style="display:none" type="text" name="from" id="from-value" />
					<input style="display:none" type="text" name="to" id="to-value" />
					<input style="display:none" type="text" name="locationname" id="location-value" />
					<input style="display:none" type="text" name="style" id="style-value" />
					<input style="display:none" type="text" name="level" id="level-value" />
					<input style="display:none" class="form-control" name="location" type="text"></input>

					<input type="submit" class="btn btn-primary" value="Search" style="opacity: 0.8;width: 23%;margin-left: 8.5%;">
				</form>
			</div>
		</div>

		<!-- 	<div class="row carousel-container">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
								<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
								<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						</ol>
						<div class="carousel-inner">
								<div class="item active">
										<%= image_tag "carousel/yoga1.png" %>
								</div>
								<div class="item">
								</div>
						</div>
				</div>
		</div> -->
		<div class="row welcome-img">
			<div class="col-md-1"></div>
			<div class="col-md-10" style="text-align:center">
					<%= image_tag "carousel/yoga1.png", :class => "wide-image" %>
			</div>
			<div class="col-md-1"></div>
		</div>

		</main>
		<%= render "shared/footer"%>