You are searching for
<%= @date + @from + @to + @location_name + @style + @level + @location%>

<div class="col-md-6 map"></div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Instructor</th>
        <th>User</th>
        <th>Address</th>
      </tr>
    </thead>

    <tbody>
      <% unless @instructors_by_location.nil? %>
      <% @instructors_by_location.each do |i| %>
      <tr>
        <td><%= i.instructor.id %></td>
        <td><%= i.instructor.user.id %></td>
        <td><%= i.address %></td>
        <td><%= i.updated_at %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>

