%h1 Listing practices

%table
  %tr
    %th Instructor
    %th Style
    %th
    %th
    %th

  - @practices.each do |practice|
    %tr
      %td= practice.instructor_id
      %td= practice.style_id
      %td= link_to 'Show', practice
      %td= link_to 'Edit', edit_practice_path(practice)
      %td= link_to 'Destroy', practice, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Practice', new_practice_path
