= bootstrap_form_for @certificate do |f|
  - if @certificate.errors.any?
    #error_explanation
      %h2= "#{pluralize(@certificate.errors.count, "error")} prohibited this certificate from being saved:"
      %ul
        - @certificate.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :title
  .field
    = f.text_field :full_name
  .field
    = f.select(:institute_id, [['Yoga Alliance', 1], ['Yoga Association', 2]], label: "User Status")
  .actions
    = f.submit 'Save'
