<!DOCTYPE html>
<html>
<head>
  <title>iYoga</title>
  <meta name="viewport" id="viewport" content="initial-scale=1.0,width=device-width,user-scalable=1" />
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_KEY']}&sensor=false" %>
  <%= javascript_include_tag 'application' %>
  <%= yield(:google_maps_api) %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="top alert alert-warning">
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= flash[:error] %>
	</div>
	<div class="container fuelux">
		<%= render :partial => 'shared/header' %>
		<%= yield %>
    <%= render "shared/footer"%>
	</div>
</body>
</html>