<!DOCTYPE html>
<html>
<head>
  <title>iYoga</title>
  <!-- <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1"> -->
  <meta name="viewport" id="viewport" content="initial-scale=1.0,width=device-width,user-scalable=no" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink>
	<div class="top alert alert-warning">
		<%= show_alert %>
		<%= show_error %>
		<%= show_notice %>
	</div>
	<div class="container">
		<%= yield %>
	</div>


</body>
</html>
