<!DOCTYPE html>
<html>
<head>
  <title>iYoga</title>
  <!-- <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1"> -->
  <meta name="viewport" id="viewport" content="initial-scale=1.0,width=device-width,user-scalable=no" />
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="top alert alert-warning">
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= flash[:error] %>
	</div>
	<div class="container fuelux">
		<%= render :partial => 'shared/header' %>
		<%= yield %>
    <%= render "shared/footer"%>
	</div>
</body>
</html>